* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Cantarell', sans-serif;
}

.header {
	height: 100vh;
	background-image: linear-gradient(to right bottom, rgba(76, 216, 255, 0.8), rgba(30, 108, 217, 0.8));
	background-size: cover;
	background-position: top;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.hero {
	width: 160px;
	height: 160px;
	margin: auto;
	border-radius: 50%;
	border: solid 3px #fff;
	background-image: url("./img/profileimg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.title {
	font-weight: bold;
	font-size: 2em;
	font-family: 'Dancing Script', cursive;
}

.title-text {
	font-size: 28px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.icons {
	font-size: 18px;
	text-align: center;
	margin-top: 15px;
}
.icons a {
	padding: 10px;
	transition: all 0.5s ease-out;
}

.icons a:hover {
	color: #23415a;
}

nav {
	padding: 8px;
}
.logo {
	float: left;
	padding: 8px;
	margin-left: 16px;
	margin-top: 8px;
	font-family: 'Dancing Script', cursive;
}
.logo a {
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
}
nav ul {
	float: right;
}

nav ul li {
	display: inline-block;
}

nav ul li:not(:first-child) {
	margin-left: 48px;
}
nav ul li:last-child {
	margin-right: 24px;
}

nav ul li a {
	display: inline-block;
	outline: none;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 1.2px;
	font-weight: 600;
}
.static {
	background-color: #ffffff;
	color: #000000;
	overflow: hidden;
	padding: 5%;
	text-align: center;
}

.parallax {
	background-image: url('./img/bg-2.jpg');
	position: relative;
	color: #fff;
	text-shadow: 0 0 5px #000;
	overflow-x: hidden;
	text-align: justify;
	padding: 5%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
#about {
	font-size: 1.4rem;
	font-weight: 500;
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	color: #23415a;
	line-height: 1.8em;
	overflow: hidden;
}
#projects {
	background-color: #23415a;
	color: #fff;
	padding: 5%;
}
#projects h1,
h2 {
	text-align: center;
}
#projects h3 {
	padding: 1px;
	padding-left: 10px;
}

#projects h4 {
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	color: grey;
	margin-left: 1rem;
}
#contact {
	background-image: linear-gradient(to right bottom, rgba(35, 65, 90, 0.8), rgb(47, 70, 105, 0.6)),
		url('./img/bg-2.jpg');
	position: relative;
	color: #fff;
	text-shadow: 0 0 5px #000;
	overflow-x: hidden;
	text-align: justify;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

form input[type=text],
input[type=email],
textarea {
	box-sizing: border-box;
	padding: 12px 20px;
	margin: 8px 0;
	outline: none;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	height: 45px;
	color: #ddd;
}
::placeholder {
	color: #ddd;
	opacity: 1;
}
.form textarea {
	resize: none;
	overflow: hidden;
	height: auto;
	width: 100%;
	height: 200px;
}
.submit-btn {
	background-image: linear-gradient(to right bottom, rgba(76, 216, 255, 1), rgba(30, 108, 217, 1));
	color: #ffffff;
	border: none;
	width: 100%;
	padding: 14px 20px;
	margin: 8px 0;
	border-radius: 4px;
	cursor: pointer;
}
form .submit-btn:hover {
	background-color: rgba(30, 108, 217);
	box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
	outline: none;
}
.card {
	display: flex;
	flex-direction: row;
	max-width: 800px;
	margin: 1rem auto;
	line-height: 1.2rem;
	margin-bottom: 1.8%;
	overflow: hidden;
	box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.meta {
	flex-basis: 50%;
	height: auto;
	padding: 1rem;
	position: relative;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: top;
	transition: transform .2s;
}

.description {
	flex-basis: 60%;
	position: relative;
	padding-left: 2rem;
	color: #23415a;
	background-color: #ffffff;
	font-weight: 600;
}

.alt {
	flex-direction: row-reverse;
}

.description h3 {
	font-size: 1.7rem;
	font-weight: bolder;
	padding: 1rem;
}

a {
	color: #fff;
	text-decoration: none;
}
.description p {
	position: relative;
	margin: 1rem;
}
.description p:first-of-type {
	margin-top: 1.5rem;
}
.description p:before {
	content: "";
	position: absolute;
	height: 5px;
	width: 35px;
	top: -0.75rem;
	border-radius: 3px;
}

.btn {
	padding: 0.5rem;
	font-size: 18px;
	margin: 0.5rem;
	color: rgba(30, 108, 217);
	float: right;
}
.btn:hover {
	color: #23415a;
}

#main-footer {
	text-align: center;
	padding: 0.8rem;
	height: 40px;
	background-image: linear-gradient(to right bottom, rgba(76, 216, 255), rgba(30, 108, 217));
	color: #fff;
}
.hidden {
	display: none;
}

@media screen and (max-width: 864px) {
	.logo {
		padding: 0;
	}
	.nav-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: #23415a;
		opacity: 0;
		transition: all 0.2s ease;
	}
	.nav-wrapper ul {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}
	.nav-wrapper ul li {
		display: block;
		float: none;
		width: 100%;
		text-align: right;
		margin-bottom: 10px;
	}
	.nav-wrapper ul li:nth-child(1) a {
		transition-delay: 0.2s;
	}
	.nav-wrapper ul li:nth-child(2) a {
		transition-delay: 0.3s;
	}
	.nav-wrapper ul li:nth-child(3) a {
		transition-delay: 0.4s;
	}
	.nav-wrapper ul li:nth-child(4) a {
		transition-delay: 0.5s;
	}
	.nav-wrapper ul li:not(:first-child) {
		margin-left: 0;
	}
	.nav-wrapper ul li a {
		padding: 10px 24px;
		opacity: 0;
		color: #fff;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 1.2px;
		transform: translateX(-20px);
		transition: all 0.2s ease;
	}
	.nav-btn {
		position: fixed;
		right: 10px;
		top: 10px;
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		z-index: 9999;
		border-radius: 50%;
	}
	.nav-btn i {
		display: block;
		width: 20px;
		height: 2px;
		background: #fff;
		border-radius: 2px;
		margin-left: 14px;
	}
	.nav-btn i:nth-child(1) {
		margin-top: 16px;
	}
	.nav-btn i:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}
	.nav-btn i:nth-child(3) {
		margin-top: 4px;
	}

	#nav:checked + .nav-btn {
		transform: rotate(45deg);
	}

	#nav:checked + .nav-btn i {
		background: #fff;
		transition: transform 0.2s ease;
	}

	#nav:checked + .nav-btn i:nth-child(1) {
		transform: translateY(6px) rotate(180deg);
	}
	#nav:checked + .nav-btn i:nth-child(2) {
		opacity: 0;
	}
	#nav:checked + .nav-btn i:nth-child(3) {
		transform: translateY(-6px) rotate(90deg);
	}

	#nav:checked ~ .nav-wrapper {
		z-index: 9990;
		opacity: 1;
	}
	#nav:checked ~ .nav-wrapper ul li a {
		opacity: 1;
		transform: translateX(0);
	}
	.hidden {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.card {
		flex-direction: column;
		margin: 1rem auto;
		box-shadow: 0 3px 7px -1px rgba(#000, .1);
		margin-bottom: 1.6%;
		line-height: 1.4;
		border-radius: 5px;
		z-index: 0;
		height: 660px;
	}
	.meta {
		z-index: 2;
		position: relative;
		flex-basis: 60%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: cover;
		background-position: center;
		transition: transform .2s;
	}
	.description {
		background-color: #ffffff;
		flex-basis: 40%;
		position: relative;
		z-index: 0;
		padding: 1rem;
	}
	.description h3,
	h4 {
		margin: auto;
	}

	.description p {
		position: relative;
		margin: 1rem 0 0;
	}
	.description p:first-of-type {
		margin-top: 1.25rem;
	}
	.description p:before {
		content: "";
		position: absolute;
		height: 5px;
		width: 35px;
		top: -0.75rem;
		border-radius: 3px;
	}

	div .photo {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: cover;
		background-position: center;
		transition: transform .2s;
	}
	.btn-dark,
	.btn-light {
		margin: 0;
		font-size: 14px;
	}

	.icons {
		font-size: 14px;
		text-align: center;
		margin-top: 15px;
	}
	.title {
		font-size: 1.4em;
	}
}
